
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
}

/* FORM STYLES */

.form-floating {
  position: relative;
  margin-bottom: .5rem;
}

.form-floating .form-control {
  height: auto;
  padding: 20px;
  border: none;
  border-radius: 8px;
  background-color:white;
  box-shadow: none;
}

.form-floating .form-control:focus {
  background-color:white;
  box-shadow: none;
}

.form-floating .form-control.has-value {
  padding-top: 20px; /* Adjust this value to align the text with the label */
}

.form-floating .form-label {
  position: absolute;
  top: 0;
  left: 10px;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #6c757d;
  pointer-events: none;
  transition: top 0.3s, font-size 0.3s;
}

.form-floating .form-control.has-value + .form-label {
  top: 10px; /* Adjust this value to position the label above the input */
  font-size: 0.5rem;
  background-color: transparent; /* Remove background color */
}


/* Add your existing styles here */
.btn-custom {
  position: relative;
  overflow: hidden;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.5s ease;
}


/* BUTTON STYLES */

/* Style the p tag */
.btn-custom p {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-weight: 800;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 25px;
  transition: all 0.5s ease;
}

/* Style the first icon with class send */
.btn-custom .send {
  position: absolute;
  top: 5px;
  left: 15px;
  color: #fff;
  transition: all 0.5s ease;
}

/* Style the second icon with class send2 */
.btn-custom .send2 {
  position: absolute;
  top: 80px;
  left: 15px;
  color: #696666;
  transition: all 0.5s ease;
}

/* Hover effects */
.btn-custom:hover {
  background: #f9c23c;
  transition: background-color 0.5s ease;
}

.btn-custom:hover p {
  color: #696666;
  transition: all 0.5s ease;
  animation: move 1s linear 1s forwards;
}

.btn-custom:hover .send {
  top: -50px;
  transition: all 0.5s ease;
}

.btn-custom:hover .send2 {
  top: 15px;
  transition: all 0.5s ease;
  animation: sending 1s linear 1s forwards;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; /* Adjust the margin as needed */
}

.login-link {
  color: #F5EDED;
  font-weight: bold;
}

/* REGISTRATION PAGE STYLES */
.registration-background {
  background-image: url("./images/registerlogin.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed; /* Use position: fixed to cover the whole page */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place the background behind the content */
}

.registration-header {
  color: #F5EDED;
  font-family: 'Orbitron', sans-serif;
  margin-bottom: 35px;
  text-align: center;
  font-size: 35px;
  font-weight: bolder;
}


.registration-form {
  position: relative;
}



/* LOGIN PAGE STYLES */

.login-background {
  background-image: url("./images/registerlogin.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed; /* Use position: fixed to cover the whole page */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place the background behind the content */
}

.login-header {
  color: #F5EDED;
  font-family: 'Orbitron', sans-serif;
  margin-bottom: 35px;
  text-align: center;
  font-size: 35px;
  font-weight: bolder;
}


.login-form {
  position: relative;
}



/* NAV BAR STYLES */

.Nav.Link {
  margin-left: 10px; /* Add padding to the left and right of the link */
}

.Nav.Brand {
  margin-left: 10px; /* Add padding to the left and right of the link */
}


/* HOME STYLES */
.home-background {
  background-image: url("./images/home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed; /* Use position: fixed to cover the whole page */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place the background behind the content */
  overflow: auto; /* Allow scrolling */
}

.home-header {
  color: #F5EDED;
  font-family: 'Russo One', sans-serif;
  margin-bottom: 35px;
  font-size: 35px;
  font-weight: bolder;
}


/* CAROUSEL */
.custom-image {
  width: 400px; /* Set your desired width */
  height: auto; /* Maintain aspect ratio */
}




/* BANNER */
.jordan-jumbotron {

  color: #F5EDED;
  padding: 40px;
  border-radius: 10px;
  text-align: left;
}

.jordan-jumbotron h1 {
  font-size: 3rem;
  margin-bottom: 20px;

}

.jordan-jumbotron p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  font-weight: 100;
  font-family: 'Russo One', sans-serif;
}

.jordan-jumbotron a {
  color: #F5EDED;
  text-decoration: none;
  background-color: #D72323;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.jordan-jumbotron a:hover {
  background-color: #3E3636
}
@media (max-width: 768px) {
  /* Styles for screens up to 768px width */
}


/* VIEW PRODUCTS BUTTON */

.view-products-button {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 10px 30px;
  transition: 0.5s;
  position: relative;
  font-size: 17px;
  background: #333;
  border: none;
  color: #fff;
}

.view-products-button:hover {
  letter-spacing: 0.25em;
  background: #ff1867;
  color: #ff1867;
  box-shadow: 0 0 45px #ff1867;
}

.view-products-button::before {
  content: '';
  position: absolute;
  inset: 2px;
  background: #222222;
}

.view-products-button span {
  position: relative;
  z-index: 1;
}

.view-products-button i {
  position: absolute;
  inset: 0;
  display: block;
}

.view-products-button i::before {
  content: '';
  position: absolute;
  border: 2px solid #ff1867;
  width: 7px;
  height: 4px;
  top: -3.5px;
  left: 80%;
  background: #222222;
  transform: translateX(-50%);
  transition: 0.5s;
}

.view-products-button:hover i::before {
  width: 20px;
  left: 20%;
}

.view-products-button i::after {
  content: '';
  position: absolute;
  border: 2px solid #ff1867;
  width: 7px;
  height: 4px;
  bottom: -3.5px;
  left: 20%;
  background: #222222;
  transform: translateX(-50%);
  transition: 0.5s;
}

.view-products-button:hover i::after {
  width: 20px;
  left: 80%;
}


/* CHECKOUT STYLES */
.button {
  --main-focus: #2d8cf0;
  --font-color: #323232;
  --bg-color-sub: #dedede;
  --bg-color: #eee;
  --main-color: #323232;
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
}

.button, .button__icon, .button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(22px);
  color: var(--font-color);
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 20px;
  fill: var(--main-color);
}

.button:hover {
  background: var(--bg-color);
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}


/* PRODUCT CRUD */

.glass-effect {
  background-color: rgba(255, 255, 255, 0.15); /* Adjust the opacity as needed */
  backdrop-filter: blur(10px); /* Apply the blur effect */
  border: none; /* Remove borders for a cleaner look */
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.glass-effect:hover {
  background-color: rgba(255, 255, 255, 0.3); /* Adjust the opacity for the hover effect */
}

/* CREATE AND UPDATE FORM */

.custom-form {
  margin-top: 20px;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.custom-form button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-form button:hover {
  background-color: #2980b9;
}

